button {
  width: 100%;
  background: #195069;
  border: 0;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
}

p {
  font-size: 15pt;;
}

input, a {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}



